<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;parameter&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_project_parameter_ui_component:com.project.parameter.ui.component">
 </head>
 <body>
  <vaadin-css-layout style-name="wrapper-body" size-full>
   <vaadin-vertical-layout style-name="wrapper-container" margin="false" _id="componentLayout"></vaadin-vertical-layout>
  </vaadin-css-layout>
 </body>
</html>